.profile {
    max-width: 880px;
    background-color: #000;
    display: flex;
    align-items: center;
    margin: 40px auto 0;
}

@media screen and (max-width: 1023px) {
    .profile {
        align-items: flex-start;
        flex-direction: column;
        margin: 42px 0 0 0;
    }
}