.popup__close {
  min-width: 32px;
  min-height: 32px;
  position: absolute;
  background-image: url(../../../images/CloseIcon.svg);
  background-size: contain;
  top: -40px;
  right: -40px;
  border: none;
  outline: none;
  background-color: transparent;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .popup__close {
    min-width: 20px;
    min-height: 20px;
    right: 0;
  }
}