.profile__job {
    max-width: 294px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 1023px) {
    .profile__job {
        grid-column: 2;
        margin: 0 auto;
        max-width: 189px;
        font-size: 14px;
        line-height: 16.94px;
    }
}